*{
		margin: 0;
		padding: 0;
	}
		h1{
			box-sizing: border-box;
			float: left;
			width: 50%;
			height: 800px;
			background: red;
			border: 5px dotted black;
			padding: 30px;
		}
		img{
			width: 50%
		}
		div{
			position: fixed;
			top: 100px;
			left: 100px;
			z-index: 5;
			width: 100px;
			background: blue;
		}